@import url('https://fonts.googleapis.com/css2?family=Monaco&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    font-family: 'Monaco', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 1;
    background-color: #ffffffb6; /* Soft pink background */
}


.container {
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
    padding: 50px;
    border: 3px solid #ecd1e3;
    border-radius: 20px 20px 0 0;
    background-color: #fff9fe;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow-y: auto;
}

h1 {
    font-family: 'Monaco', sans-serif; /* Use Nunito font */
    color: #eb63a7;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
}



.form-group {
    margin-bottom: 30px; /* Increased margin bottom */
    text-align: left; /* Align text to the left */
}

label {
    display: block;
    margin-bottom: 10px; /* Increased margin bottom */
    color: #2d2015; /* Dark pink text color */
    font-family: 'Monaco', monospace; /* Monaco font */
    font-size: 18px; /* Increased font size */
}

input[type="text"],
input[type="age"],
select,
input[type="file"] {
    width: 100%;
    padding: 12px; /* Increased padding */
    border: 2px solid #231c21; /* Increased border size */
    border-radius: 8px; /* Increased border radius */
    box-sizing: border-box; /* Ensure padding is included in width */
    font-size: 16px; /* Increased font size */
}

button {
    width: 100%;
    padding: 14px; /* Increased padding */
    background-color: #e4a2bb; /* Dark pink button color */
    color: #ffffff; /* White text color */
    border: none;
    border-radius: 8px; /* Increased border radius */
    cursor: pointer;
    font-size: 18px; /* Increased font size */
}

button:hover {
    background-color: #ffffff; /* Lighter pink on hover */
}
