<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderHer</title>
    <link rel="stylesheet" href="/static/menu.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

     
    
</head>

<body>
    <div class="nav-container">
        <div class="navbar">
            <h1 id = 'navbar-logo'>STUDI</h1>
            <div class="menu-toggle" id = "mobile-menu">
                <span class = "bar"></span>
                <span class = "bar"></span>
                <span class = "bar"></span>
            </div>
            <ul class = "nav-menu">
                <li><a href = "/templates/home.html" class = "nav-links">Home</a></li>
                <li><a href = "/templates/about.html" class = "nav-links">About Us</a></li>
                <li><a href = "/templates/login.html" class = "nav-links">Log In</a></li>
                <li><a href = "/templates/register.html" class = "nav-links">Register</a></li>
            </ul>
        </div>
    </div>
    
    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 20">
        <defs>
          <linearGradient id="gradient">
            <stop color="#000"/>
          </linearGradient>
          <pattern id="wave" x="0" y="-0.5" width="100%" height="100%" patternUnits="userSpaceOnUse">
            <path id="wavePath" d="M-40 40 Q-30 2 -20 9 T0 9 T20 9 T40 9 T60 9 T80 9 T100 9 T120 9 V20 H-40z" mask="url(#mask)" fill="url(#gradient)"> 
              <animateTransform
                  attributeName="transform"
                  begin="0s"
                  dur="1.5s"
                  type="translate"
                  from="0,0"
                  to="40,0"
                  repeatCount="indefinite" />
            </path>
          </pattern>
        </defs>
        <text text-anchor="middle" x="50" y="15" font-size="17" fill="white" fill-opacity="0.1">STUDI</text>
        <text text-anchor="middle" x="50" y="15" font-size="17" fill="url(#wave)"  fill-opacity="1">STUDI</text>
        
      </svg>
      

</body>

<script>
    
  

</script>

</html>