<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderHer</title>
    <link rel="stylesheet" href="/static/menu.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

     
    
</head>

<body>
    <div class="nav-container">
        <div class="navbar">
            <h1 id = 'navbar-logo'>WanderHer</h1>
            <div class="menu-toggle" id = "mobile-menu">
                <span class = "bar"></span>
                <span class = "bar"></span>
                <span class = "bar"></span>
            </div>
            <ul class = "nav-menu">
                <li><a href = "/templates/home.html" class = "nav-links home-button" id="home-link">Home</a></li>
                <li><a href = "/templates/about.html" class = "nav-links about-button" id="about-link">About Us</a></li>
                <li><a href = "/templates/login.html" class = "nav-links login-button" id="login-link">Log In</a></li>
                <li><a href = "/templates/register.html" class = "nav-links register-button" id="register-link">Register</a></li>
            </ul>
        </div>
    </div>
<div class="banner">
  <div class = "banner-content">
    <p class="banner-text">Empower Your Journey: Connect, Explore, and Stay Safe Together with WanderHer.</p>
    <a href="#" class="banner-button login-button">Get Started</a>
    </div>

  </div>
      

</body>

<script>
    
  

</script>

</html>
